[submodule "schemes/base16-gruvbox-scheme"]
	path = schemes/base16-gruvbox-scheme
	url = https://github.com/dawikur/base16-gruvbox-scheme.git
[submodule "templates/base16-fzf"]
	path = templates/base16-fzf
	url = https://github.com/tinted-theming/base16-fzf.git
[submodule "templates/base16-iterm2-alternative-fg"]
	path = templates/base16-iterm2-alternative-fg
	url = https://github.com/gil/base16-iterm2-alternative-fg.git
[submodule "templates/base16-tmux"]
	path = templates/base16-tmux
	url = https://github.com/mattdavis90/base16-tmux
[submodule "templates/base16-vim"]
	path = templates/base16-vim
	url = https://github.com/chriskempson/base16-vim
[submodule "schemes/base16-dracula-scheme"]
	path = schemes/base16-dracula-scheme
	url = https://github.com/dracula/base16-dracula-scheme
[submodule "templates/base16-vim-airline"]
	path = templates/base16-vim-airline
	url = https://github.com/fnurl/base16-vim-airline
[submodule "templates/base16-textmate"]
	path = templates/base16-textmate
	url = https://github.com/chriskempson/base16-textmate
